<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="cadena" connectionString="Data Source=SQL5101.site4now.net;Initial Catalog=db_aa12b2_mecwash;User Id=db_aa12b2_mecwash_admin;Password=mireyra123" providerName="System.Data.ProviderName" />
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
	</appSettings>

	<system.webServer>
		<staticContent>
			<remove fileExtension=".czml" />
			<mimeMap fileExtension=".czml" mimeType="application/json" />
			<remove fileExtension=".glsl" />
			<mimeMap fileExtension=".glsl" mimeType="text/plain" />
			<remove fileExtension=".b3dm" />
			<mimeMap fileExtension=".b3dm" mimeType="application/octet-stream" />
			<remove fileExtension=".pnts" />
			<mimeMap fileExtension=".pnts" mimeType="application/octet-stream" />
			<remove fileExtension=".i3dm" />
			<mimeMap fileExtension=".i3dm" mimeType="application/octet-stream" />
			<remove fileExtension=".cmpt" />
			<mimeMap fileExtension=".cmpt" mimeType="application/octet-stream" />
			<remove fileExtension=".gltf" />
			<mimeMap fileExtension=".gltf" mimeType="model/gltf+json" />
			<remove fileExtension=".bgltf" />
			<mimeMap fileExtension=".bgltf" mimeType="model/gltf-binary" />
			<remove fileExtension=".glb" />
			<mimeMap fileExtension=".glb" mimeType="model/gltf-binary" />
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<remove fileExtension=".geojson" />
			<mimeMap fileExtension=".geojson" mimeType="application/json" />
			<remove fileExtension=".topojson" />
			<mimeMap fileExtension=".topojson" mimeType="application/json" />
			<remove fileExtension=".wasm" />
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
			<remove fileExtension=".woff" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<remove fileExtension=".woff2" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
			<remove fileExtension=".kml" />
			<mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml" />
			<remove fileExtension=".kmz" />
			<mimeMap fileExtension=".kmz" mimeType="application/vnd.google-earth.kmz" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			<remove fileExtension=".terrain" />
			<mimeMap fileExtension=".terrain" mimeType="application/vnd.quantized-mesh" />
			<remove fileExtension=".ktx" />
			<mimeMap fileExtension=".ktx" mimeType="image/ktx" />
			<remove fileExtension=".crn" />
			<mimeMap fileExtension=".crn" mimeType="image/crn" />
			<mimeMap fileExtension=".hdr" mimeType="image/vnd.radiance" />
		</staticContent>
	</system.webServer>
</configuration>